
# Ignore virtual environments
venv/
.venv/

# Ignore sensitive files
secrets.json
google_credentials.json
temp_google_credentials.json
env
.env


# Ignore note file
Alex_note.md



# Ignore Jupyter Notebooks
*.ipynb

# Ignore everything in the .data directory
data/*



# Ignore all Jupyter notebooks whose names start with "test"
test_*.py
test_*.ipynb